<% if !@friends.empty? %>
  <div class="row">
    <div class="col-9">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        <% @friends.each do |friend| %>
          <tr>
            <th scope="row"><%= friend.full_name %></th>
            <td><%= friend.email %></td>
            <td>
              <%= link_to "View Profile", profile_path(id: friend), class: "btn btn-success" %>
              <%= link_to "Unfollow Friend", friendship_path(friend), method: :delete, class: "btn btn-warning" %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>